/* SHIFT */
nav.shift {
    padding-right: 130px;
    padding-left: 130px;
    background: #fff;
}
nav.shift ul {
    list-style: none;
    text-align: center;
}
nav.shift ul li {
    display: inline-block;
}
nav.shift ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 10px;
}
nav.shift ul li a,
nav.shift ul li a:after,
nav.shift ul li a:before {
    transition: all 0.5s;
}
nav.shift ul li a:hover {
    color: #555;
}
nav.shift ul li a {
    position: relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: rgb(228, 228, 228);
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: rgb(21, 74, 172);
    border-radius: 10px;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.users-table table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.users-table table caption {
    font-size: 1em;
    margin: 0.5em 0 0.75em;
}

.users-table table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

.users-table table th,
.users-table table td {
    padding: 0.625em;
    text-align: left;
}

.users-table table th {
    background: rgb(21, 74, 172);
    font-weight: 800;
    color: white;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.users-table a {
    color: rgb(21, 74, 172);
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
    .users-table table {
        border: 0;
    }
    .users-table table caption {
        font-size: 1.3em;
    }
    .users-table table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .users-table table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }
    .users-table table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }
    .users-table table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .users-table table td:last-child {
        border-bottom: 0;
    }
    .navAdmin nav ul li a {
        display: block;
    }
    .action {
        display: flex;
        justify-content: space-between;
    }
    .centerMaterial {
        flex-wrap: wrap;
        gap: 20px;
    }
    .profile-logo {
        margin: 0 10px;
    }
}
.AddUserTable table {
    border: 0;
}
.AddUserTable table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.AddUserTable table tr {
    border-bottom: 2px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
}
.AddUserTable table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
}
.AddUserTable table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}
.AddUserTable table td:last-child {
    border-bottom: 0;
}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slideL2R {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.navAdmin {
    text-align: center;
    margin: 1em;
}
.navAdmin ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navAdmin li {
    display: inline;
    padding: 1em;
    margin: 1em;
}
.navAdmin a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(21, 74, 172);
    letter-spacing: 0.2em;
    padding: 0.7rem;
    padding-bottom: 0;
}
.navAdmin ul li :hover {
    color: rgb(0, 0, 0);
    border-bottom: 10px solid rgba(21, 74, 172, 0.733);
    width: 100%;
}
.navAdmin nav ul li a,
.navAdmin nav ul li:after,
.navAdmin nav ul li:before {
    transition: all 0.5s;
}
.navAdmin nav ul li:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
.navAdmin nav ul li:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box {
    width: 250px;
    height: 250px;
    margin: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 200);
    background: #0f2027;
    border-radius: 23px;
    flex-direction: column;
    color: white;
    position: relative;
    overflow: hidden;
    justify-content: center;
}
.box img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.user_name {
    margin-bottom: 5px;
    font-size: 2rem;
    text-align: center;
}
.skill {
    color: rgba(255, 255, 255, 0.555);
    text-transform: uppercase;
}
.arr_container,
.cancel {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: rgb(70, 70, 70);
    font-size: 1.6 rem;
    cursor: pointer;
    transition: all 0.4s;
    justify-content: center;
}
.arr_container i {
    transform: rotate(45deg);
}
.active_arr {
    transform: translate(80%, 80%);
}
.left_container {
    position: absolute;
    background: linear-gradient(
        to right,
        rgb(16, 49, 148),
        rgb(61, 92, 170),
        rgb(98, 122, 170)
    );
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 40px 0 0 20px;
    transition: all 0.4s;
}
.off {
    transform: translate(-80%, -80%) rotate(90deg);
}
.active {
    transform: translate(0) rotate(0);
}
.left_container p {
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.left_container .skill div {
    display: inline-block;
    color: rgb(155, 155, 155);
    border: 1px solid rgb(155, 155, 155);
    padding: 5px 10px;
    font-size: 0.9rem;
    margin: 4px 4px 4px 0;
}
.left_container .icons {
    font-size: 1.6rem;
    margin-top: 10px;
}
.bio-data {
    display: flex;
    justify-content: space-between;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default > .panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default > .panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform 0.25s linear;
    -webkit-transition: -webkit-transform 0.25s linear;
}

.panel-default > .panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}

.panel-default > .panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default > .panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panel-body {
    color: #000000;
    background-color: #ffffff;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    margin-top: 10px;
    margin-bottom: 10px;
}
.control-major {
    margin: 10px;
}
.action-major {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
::-webkit-scrollbar {
    width: 3px;
    scroll-behavior: smooth;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #154aac;
}
.checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
